.menu-box {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.menu-box__item {
	width: 33.333334%; 
	height: 50px; 
	box-sizing: border-box; 
	float: left;
}

.menu-box__item > a {
	text-decoration: none;
}

.menu-box__item_active {
	border-bottom: 5px solid #fff;
}

.menu-box__item_active span {
	color: #fff;
}

.menu-box__item_img {
	display: block; 
	text-align: center;
	font-size: 22px;
	color: rgba(33, 33, 33, 0.7);
	line-height: 2;
}
