.menu-box {
	display: table;
    position: absolute;
    height: 100%;
    right: 0
}

.menu-box__item {
	display: table-cell;
    vertical-align: middle;
    position: relative;
}

.menu-box__item:hover {
	background-color: #388E3C;
	opacity: 0.9;
}

.menu-box__item > a {
	font-size: 20px;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 12px;
	text-decoration: none;
}

.menu-box__item_active:after {
	content: "";
	height: 5px;
	width: 100%;
	background-color: #FF5252;
	position: absolute;
	bottom: 0px;
	left: 0;
}

