.menu-box {
    position: absolute;
    height: 100%;
    right: 10px;
}
/*background: rgba(255,255,255,0.36)*/
.menu-box__item {
    position: relative;
    float: left;
    height: 35px;
    margin-top: 20px;
    text-align: center;
}

.menu-box__item_active {
	
}

.menu-box__item_border{
	height: 2px;
	background-color: #fff;
	/*transition: all .3s ease-in-out;*/
	position: absolute;
    top: 50px;
}

.menu-box__item_border_expand {
	transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
}

.menu-box__item_border_contract {
	transition-duration: 0.18s;
    transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

/*.menu-box__item_border_0 {
	translateX(0px);
}

.menu-box__item_border_1 {
	translateX(200px);
}

.menu-box__item_border_2 {
	translateX(400px);
}*/

/*.menu-box__item_active:after {
	content: "";
	height: 3px;
	width: 100%;
	background-color: #FF5252;
	position: absolute;
	bottom: -2px;
}*/

.menu-box__button {
	font-size: 20px;
    color: #004446;
    display: block;
    font-weight: 300;
    padding: 0px 12px;
	text-decoration: none;
	display: block;
	height: 100%;
}

.menu-box__button:hover, .menu-box__button:active, .menu-box__button:visited {
	text-decoration: none;
	color: #004446;
	/*background-color: #388E3C;*/
}

.menu-box__button:link {
	text-decoration: none;
	color: #004446;
}

