.question {
	margin-left: 24px;
	margin-top: 2px;
	cursor: default;
	padding: 3px;
	cursor: pointer;
}

.question > span {
	margin-left: 5px;
}

.question:hover {
	background-color: #EDF1F5;
}

.question:hover .question-buttons{
	display: inline-block;
}

.question-up-button, .question-down-button, .question-delete-button{
	opacity: 0.4;
}

.question-up-button:hover, .question-down-button:hover, .question-delete-button:hover{
	opacity: 1;
}

.question-buttons {
	display: none;
}

.button-add-question {
	margin-left: 24px;
	margin-top: 5px;
}

.question-dnd-start {
	opacity: 0.5;
}