.question {
	margin-left: 24px;
	margin-top: 2px;
	cursor: default;
	padding-bottom: 1px;
}

.question > span {
	margin-left: 5px;
}

.question:hover {
	background-color: #ECE6E6;
}

.button-add-question {
	margin-left: 24px;
	margin-top: 5px;
}

.question-dnd-start {
	opacity: 0.5;
}