.section-container {
	cursor: default;
}

.section:hover{
	background-color: #EDF1F5;
}

.section:hover .section-buttons{
	display: inline-block;
}

.section-up-button, .section-down-button, .section-delete-button{
	opacity: 0.4;
}

.section-up-button:hover, .section-down-button:hover, .section-delete-button:hover{
	opacity: 1;
}

.section-buttons {
	display: none;
}

.section {
	padding: 5px;
	cursor: pointer;
}

.section > span {
	margin-left: 5px;
}

.section-dnd-start {
	opacity: 0.5;
}
