h1,tr,td,th,span,label,div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

::selection { background-color: transparent; };

html,body{
    height: 100%;
    overflow: hidden;
}

body {
    overflow: scroll;
}

h1, nav {
    text-align: center;
    margin: 0px 0px 20px;
}

textarea {
    resize: none;
}

.all {
    margin-top: 20px;
}

.menu {
    width: 10%;
    float: right;
}

.menu .menu-item {
    cursor: pointer;
    background: #428BCA none repeat scroll 0% 0%;
    padding: 14px;
    border-radius: 5px;
    color: #fff;
    width:63px;
}

.menu .menu-item:hover {
    background-color: #3276B1;
    border-color: #285E8E;
}

.menu > div {
    margin: 0px 0px 30% 30%;
}

.menu > div > span {
    display: none;
    position: absolute;
}

.menu > div:hover > span {
    display: block;
}

.menu .menu-item span {
    color: #ccc;
    display: block;
}

.menu-float {
    float: left;
    width: 90%;
}

#container{
    min-width: 600px;
    font-family:Calibri, Helvetica, serif;
    color:#444;
    width:55%;
    margin:100px auto 100px;
    padding:30px;
    border:1px solid #ddd;
    background:#f6f6f6;
    -webkit-border-radius:4px;
       -moz-border-radius:4px;
            border-radius:4px;
}

#container #app-container {
    min-width: 500px;
}