.tests {
	margin-top: 50px;
	font-family: Calibri, Helvetica, serif;
	min-width: 500px;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16),0px 2px 5px 0px rgba(0,0,0,0.23);
	padding-right: 0px;
	padding-left: 0px;	
	background-color: #f5f5f5;
	width: 1200px;
	min-width: 800px;
	height: 904px;
	margin: 50px auto;
	border-radius: 3px;

	font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em
}

.tests__header {
	height: 200px;
	background-color: #00BCD4;
	position: relative;
	margin-bottom: -135px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	/*background-image: url('/build/img/banner3.jpg');
    background-size: cover;
    background-position: center;*/
}

.tests__body {
	overflow: hidden;
	padding: 15px;
	position: relative;
}

.tests__name {
	font-size: 30px;
    font-family: serif;
    color: #C8E6C9;
    font-weight: 700;
    margin-left: 20px;
    float: left;
}

/*.tests__header:before {
	content: '';
	display: block;
	height: 25px;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-color: #388E3C;
}*/

.tests__body-content {
	/*box-shadow: inset 0px 15px 13px -9px rgba(0,0,0,.32);*/
	border:none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-bottom: 0px;
	/*width: 1200px;
	overflow-y: auto;*/
	background: none;
}

.tests__body-content_translate {
	transform: translateY(780px);
}

.tests__body-content_show {
	transition: all .5s ease-in-out;
	transform: translateY(0px);
}

/*.tests__body-content_hide {
	transform: translateY(750px);
}*/


/*.FadeInWhenAdded {
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.FadeInWhenAddedShown {
    opacity: 0.99;
}*/

/*.tests__header:after{
    content: '';
    display: table;
    clear: both;
}*/

/*.tests__body {
	-webkit-box-shadow: inset 9px 49px 24px -8px rgba(0,0,0,0.32);
	-moz-box-shadow: inset 9px 49px 24px -8px rgba(0,0,0,0.32);
	box-shadow: inset 9px 49px 24px -8px rgba(0,0,0,0.32);
}*/

/*.tests__body > div:first-child {
	margin-top: 10px;
}*/