@import 'variables';

$zIndexLess: 900;
$zIndexMore: 901;

.answers{
	margin-top: 50px;

	& .answers__warning {
		color: orange;
		width: 90%;
    	margin: 0 auto;

    	& .answers__warning-icon {
    		vertical-align: top;
		    margin-right: 10px;
		    padding: 12px;
		    font-size: 32px;
    	}

    	& .answers__warning-text {
    		display: inline-block;
    		width: 85%;
    	}
	}

	& .answer {
		position: relative;

		&.answer_dnd-start {
			opacity: 0.5;
		}

		& .answer__dnd {
		    cursor: pointer;
		    position: absolute;
		    right: 0;
		    height: 40px;
		    width: 95%;
		    z-index: $zIndexLess;
		}

		& .answer__base-fields {
			display: inline-block;
		}
		& .answer__icons{
			position: absolute;
			cursor: pointer;
			top: 13px;
			right: 40px;
			z-index: $zIndexMore;
		}
		& .answer__number{
			width: 5%;
		    line-height: 35px;
		    font-size: $fontSizeXLarge;
		    font-weight: 500;
		}
		& .answer__content{
			width: 95%;
			float: right;
		}
		& .answer__checkbox {
			position: relative;
			padding: 7.5px 5px;
			z-index: $zIndexMore;
			display: inline-block;

			&:hover {
				background-color: transparent;
			}
		}
		& .answer__weight {
			display: inline-block;
		}

		& .answer__conformity {
			display: inline-block;
		}
	}
}

