@import 'variables';

.button {
	&.button_blue {
		background-color: $accentColor !important;
	}

	&.button_red {
		background-color: #F44336 !important;
	}

	&.button_yellow {
		background-color: #fdd835 !important;
	}

	&.button_green {
		background-color: #4CAF50 !important;
	}
}

