@import 'variables';

.checkbox-box {
    padding: 5px;

    &:hover {
        background-color: #F2EDF1;
    }

    .checkbox-box__label {
        position: relative;
        cursor: pointer;
        width: 100%;
        font-weight: 400;
        color: $primaryTextColor;
        font-size: $fontSizeLarge;
        margin-bottom: 0;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        padding-right: 25px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0px;
            width: 18px;
            height: 18px;
            z-index: 0;
            border: 2px solid #5a5a5a;
            border-radius: 1px;
            margin-top: 2px;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -o-transition: 0.2s;
            -ms-transition: 0.2s;
            transition: 0.2s;
        }
    }

    .checkbox-box__input {
        display: none;
    }
}


.checkbox-box__input:checked ~ .checkbox-box__label:before {
    top: -4px;
    right: 10px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
