.mapping{

}

.mapping__header-title{
	text-align: center;
    margin-top: 0px;
}

.mapping__answer {
	margin-bottom: 5px;
	margin-left: 10px;
}

.mapping__answer_correct {
    border: 1px solid green;
}

.mapping__question {
	margin-top: 5px;
	margin-left: 5px;
}

.mapping__section {
	margin-bottom: 15px;
}