@import 'variables';

.mapping{

}

.mapping__header{

}

.mapping__header-title{
	text-align: center;
    margin-top: 0px;
}

.mapping__content{

}

.mapping__section {

}

.mapping__section-title{

}

.mquestion{
	padding-bottom: 10px;
    border-bottom: 1px solid $deviderColor;
}

.mquestion:last-child {
	border-bottom: none;
	padding-bottom: 0px;
}

.mquestion__title{
	line-height: 32px;
	margin-bottom: 0px;
}

.mquestion__title-number{
	font-size: 16px;
    float: left;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 50%;
    background: $accentColor;
    margin-right: 16px;
    color: #fff;
}

.mquestion__answers-box{
	margin-left: 40px;
}

.mquestion__answer{
	padding: 8px;
}

.mquestion__answer-weight{
	float: right;
}

.mquestion__answer-type-control{
	margin-right: 10px !important;
}

.mquestion__answer_correct{
	background: rgb(138, 216, 117);
    border-radius: $borderRadius;
    margin-bottom: 2px;
}

.mquestion__footer{

}

.mquestion__info{

}

.mquestion__info-title{
	font-weight: bold;
}

.mquestion__info-type{
	margin-right: 32px;
}

.mquestion__info-score{

}


