.menu-box {
    position: absolute;
    right: 10px;
    height: 50px;
    margin-top: 15px;
}
/*background: rgba(255,255,255,0.36)*/
.menu-box__item {
    position: relative;
    float: left;
    text-align: center;
    height: 100%;
    display: table;
}

.menu-box__helper {
	display: inline-block;
    height: 100%;
    width: 0px;
    vertical-align: middle;
    zoom: 1;
}

.menu-box__border{
	height: 2px;
	background-color: #fff;
	/*transition: all .3s ease-in-out;*/
	position: absolute;
    top: 50px;
}

.menu-box__border_expand {
	transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
}

.menu-box__border_contract {
	transition-duration: 0.18s;
    transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.menu-box__button {
	font-size: 20px;
    color: #004446;
    display: block;
    font-weight: 300;
    padding: 0px 12px;
	text-decoration: none;
    display: table-cell;
    vertical-align: middle;
}

.menu-box__button:active {
    transition: all .15s ease-in-out;
    background-color: #5BD4E3;
}

.menu-box__button:hover, .menu-box__button:active, .menu-box__button:visited, .menu-box__button:link {
	text-decoration: none;
	color: #004446;
	/*background-color: #388E3C;*/
}

