.question-modal__text{
	
}

.question-modal__type{
	width: 30%;
	margin-right: 5%;
	display: inline-block;
}

.question-modal__weight{
	width: 30%;
	margin-right: 5%;
	display: inline-block;
}

.question-modal__add-answer {
	width: 30%;
	display: inline-block;
}
