.question-tooltip-box{
	position: relative;
	display: inline-block;
}

.question-tooltip {
	
}

.question-tooltip_right {
	margin-left: 10px;
}

.question-tooltip_left {
	margin-right: 10px;
}