@import 'variables';

.question {
	display: table-row;
}

.question__number-box {
	display: table-cell;
    vertical-align: middle;
    font-size: $fontSizeXs;
    text-align: center;
}

.question__number {
	display: inline-block;
    width: 26px;
    height: 26px;
    padding: 2px;
    border-radius: 50%;
    background-color: $accentColor;
    color: #fff;
}

.question__content {
	display: table-cell;
	cursor: pointer;
	padding: 5px 10px;
	width: 100%;
}

.question__content:hover {
	background-color: $hoverColor;
}

.question__title {
	color: $primaryTextColor;
	margin-bottom: 0px;
	margin-top: 0px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.question__description {
	display: inline-block;
	font-size: $fontSizeXs;
}

.question__type {
	color: $secondaryTextColor;
}

.question__buttons {
	display: none;
}

.question__content:hover .question__buttons{
	display: inline-block;
}

.question__sort-group {

}

.question__edit-group {
	margin-left: 5px;
}

.question__edit-button {
	opacity: 0.4;
	display: inline-block;
	margin-left: 6px;
}

.question__edit-button:hover{
	opacity: 1;
	color: $accentColor;
}

.question__edit-button_margin {
	margin-left: 3px;
}

.question__dnd-start {
	opacity: 0.5;
}

.qtype-btn {
    width:160px;
}

.qtype-btn:hover {
    box-shadow: none;
    background-color: #fff;
    border-color: #CCC;
}