@import 'variables';

.question {
	margin-left: 24px;
	margin-top: 2px;
	cursor: default;
	padding: 3px;
	cursor: pointer;
}

.question > span {
	margin-left: 5px;
}

.question:hover {
	background-color: $deviderColor;
}

.question__buttons {
	display: none;
}

.question:hover .question__buttons{
	display: inline-block;
}

.question__edit-button {
	opacity: 0.4;
}

.question__edit-button:hover{
	opacity: 1;
}

.question__add-button {
	margin-left: 24px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.question__dnd-start {
	opacity: 0.5;
}

.qtype-btn {
    width:160px;
}

.qtype-btn:hover {
    box-shadow: none;
    background-color: #fff;
    border-color: #CCC;
}