.question-tooltip-field{
	
}

.question-tooltip-field_left {
	
}

.question-tooltip-field_right {
	
}

.question-tooltip-field__content{
	width: 100%;
	display: inline-block;
	
}

.question-tooltip-field__content_right {
	padding-right: 30px;
}

.question-tooltip-field__content_left{
	padding-left: 30px;
}