@import 'variables';

.section {
	cursor: default;
}

.section:hover{
	background-color: $deviderColor;
}

.section__content {
	padding: 5px;
	cursor: pointer;
}

.section__title {
	margin-left: 5px;
}

.section__buttons {
	display: none;
}

.section:hover .section__buttons{
	display: inline-block;
}

.section__button-edit{
	opacity: 0.4;
}

.section__button-edit:hover{
	opacity: 1;
}

.section__dnd-start {
	opacity: 0.5;
}
