@import 'variables';

.structure {

}

.structure__content {

}

.structure__sections, .structure__questions {
	background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 5px 0 rgba(0,0,0,.23);
    padding: 15px;
    border-radius: $borderRadius;
}

.structure__sections-header {
	
}

.structure__sections-body {

}

.structure__questions-header {

}

.structure__questions-body {

}