
/*::selection { background-color: transparent; };*/

/*::-webkit-scrollbar { 
    display: none; 
}*/

html, body{
    height: 100%;
}

body {
    overflow-y: auto;
}

#basicApp {
    height: 100%;
}


