@import 'variables';

.tests {
	position: relative;
	font-family: Calibri, Helvetica, serif;
	width: 100%;
	height: 100%;
	padding-right: 0px;
	padding-left: 0px;	
	border-radius: $borderRadius;

	font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;

    div {
    user-select:none;
	}

	h1, nav {
	    text-align: center;
	}

	textarea {
	    resize: none;
	}

	input {
	    outline: 0;
	}

	a {
	    text-decoration: none;
	}

	ul {
	    list-style-type: none;
	    padding: 0;
	}

	.all {
	    margin-top: 20px;
	}

	.not-valid {
	    border-bottom: 2px solid #EE6666 !important;
	    outline: 0px none !important;
	    /*box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(238, 102, 102, 0.6) !important;*/
	}

	.error-glyphicon {
	    color: red;
	    cursor: default;
	}

	.error-block {
	    font-size: 12px;
	    word-spacing: -7px;
	}

	.loading-icon {
	    width: 17px;
	    height: 17px;
	}

	.tests__header {
		position: relative;
		height: 120px;
		background-color: $primaryColor;
		border-top-right-radius: $borderRadius;
		border-top-left-radius: $borderRadius;
		/*background-image: url('/build/img/banner3.jpg');
	    background-size: cover;
	    background-position: center;*/
	}

	.tests__body {
		height: 100%;
		padding: 15px;
	}

	.tests__body-content {
		border:none;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		margin-bottom: 0px;
		background: none;
		height: 100%;

		&.tests__body-content_translate {
			transform: translateY(780px);
		}

		&.tests__body-content_show {
			transition: all .5s ease-in-out;
			transform: translateY(0px);
		}

		.checkbox-fileds {
			margin-top: 50px;
		}

		.checkbox-fileds > * {
			margin-top: 16px;
		}
	}

	.tests__name {
		font-size: 30px;
	    font-family: serif;
	    color: #C8E6C9;
	    font-weight: 700;
	    margin-left: 20px;
	    float: left;
	}    
}



