@import 'variables';

.tests {
	margin-top: 50px;
	font-family: Calibri, Helvetica, serif;
	min-width: 500px;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16),0px 2px 5px 0px rgba(0,0,0,0.23);
	padding-right: 0px;
	padding-left: 0px;	
	background-color: #f5f5f5;
	width: 1200px;
	min-width: 800px;
	height: 934px;
	margin: 50px auto;
	border-radius: $borderRadius;

	font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em
}

.tests__header {
	height: 230px;
	background-color: $primaryColor;
	position: relative;
	margin-bottom: -135px;
	border-top-right-radius: $borderRadius;
	border-top-left-radius: $borderRadius;
	/*background-image: url('/build/img/banner3.jpg');
    background-size: cover;
    background-position: center;*/
}

.tests__body {
	overflow: hidden;
	padding: 15px;
	position: relative;
}

.tests__name {
	font-size: 30px;
    font-family: serif;
    color: #C8E6C9;
    font-weight: 700;
    margin-left: 20px;
    float: left;
}

/*.tests__header:before {
	content: '';
	display: block;
	height: 25px;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-color: #388E3C;
}*/

.tests__body-content {
	border:none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-bottom: 0px;
	background: none;
}

.tests__body-content_translate {
	transform: translateY(780px);
}

.tests__body-content_show {
	transition: all .5s ease-in-out;
	transform: translateY(0px);
}