$borderRadius: 2px;
$fontSizeXXLarge: 20px;
$fontSizeXLarge: 18px;
$fontSizeLarge: 16px;
$fontSizeSm: 14px;
$fontSizeXs: 12px;

/* colors */
$primaryColor: #03A9F4;
$darkPrimaryColor: #0288D1;
$lightPrimaryColor: #B3E5FC;
$textColor: #FFFFFF;
$accentColor: #009688;
$primaryTextColor: #212121;
$secondaryTextColor: #727272;
$deviderColor: #B6B6B6;
$hoverColor: #E6F4FA;
$selectedColor: #C7EEFE;