$borderRadius: 2px;

/* colors */
$primaryColor: #03A9F4;
$darkPrimaryColor: #0288D1;
$lightPrimaryColor: #B3E5FC;
$textColor: #FFFFFF;
$accentColor: #FF5252;
$primaryTextColor: #212121;
$secondaryTextColor: #727272;
$deviderColor: #B6B6B6;